---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
	<style>
		@import './src/styles/defaults.css';

		.main {
			display: grid;
			grid-area: main;
			align-items: center;
			justify-items: center;
			padding: 2rem;
			text-align: center;
		}
	</style>
</head>

<body>
	<Header />
	<main class="main">
		<h1>Focus Imaging</h1>
		<p>We have lift-off!!!</p>
	</main>
	<Footer />
</body>

</html>
