---
// Component imports and setup JavaScript go here!
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
	<style>
		@import './src/styles/defaults.css';
	</style>
</head>

<body>
	<h3>Welcome to </h3>
	<h1>Focus Imaging</h1>
	<p>We have lift-off!!!</p>
</body>

</html>
